<div class="">
<%# FIXME: make it better, more rails and a bug in location of datetime%>
<%= form_for form, :url => path, :method => :get  do |f| %>
  <div class="form-group">
    <div class="col-sm-2">
      <div class="input-group date" id="datetimepickerFrom">
        <span class="input-group-addon">From: </span>
        <%= text_field :get_movements,:from, :class=>"form-control",
              :value => (defined? params[:get_movements]).nil?     ?  "" :  ((defined? params[:get_movements][:from]).nil?   ? "" : params[:get_movements][:from]) %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2">
      <div class="input-group date" id="datetimepickerTo">
        <span class="input-group-addon">To: </span>
        <%= text_field :get_movements,:to, :class=>"form-control",
            :value => (defined? params[:get_movements]).nil?    ?  "" : ((defined? params[:get_movements][:to]).nil?   ? "" : params[:get_movements][:to]) %>
      </div>
    </div>
  </div>

  <% if params[:controller] != "accounts" %>
      <div class="form-group">
        <div class="col-sm-2">
          <%= select("get_movements", "account_id",
                Account.all.order('lower(name)').collect {|p| [ p.name, p.id ] },
                    {:include_blank => 'Choose account', :selected => params[:get_movements].nil? ? 0: params[:get_movements][:account_id]},{:class=>"form-control"})
            %>
        </div>
      </div>
  <% end %>

  <button type="submit" class="btn btn-default">Submit</button>

  <%= link_to "create movement", new_movement_path(:account_id => form), :class=>"btn btn btn-info col-sm-offset-2" %>

    <script type="text/javascript">
        $(function () {
            $('#datetimepickerFrom').datetimepicker();
            $('#datetimepickerTo').datetimepicker();
            $("#datetimepickerFrom").on("dp.change",function (e) {
               $('#datetimepickerTo').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepickerTo").on("dp.change",function (e) {
               $('#datetimepickerFrom').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
<% end %>

</div>
