<% if movement.errors.any? %>
  <% movement.errors.full_messages.each do |message| %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% end %>
<% end %>

<%= form_with(model: movement, local: true) do |form| -%>
<div class="card">
  <h5 class="card-header">Movement</h5>
  <ul class="list-group list-group-flush pb-3 mt-3">
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :account_id, class: "fw-bold" %>
        <%= select("movement", "account_id",
          @accounts.collect {|p| [ p.name, p.id ] },{:include_blank => 'Choose account', :selected => @movement.account_id || params[:account_id]},{:class=>"form-select"})
        %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :mtype_id, class: "fw-bold" %>
        <%= select("movement", "mtype_id",
          @mtypes.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Choose movement type'},{:class=>"form-select"})
        %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :name, class: "fw-bold" %>
        <%= form.text_field :name, placeholder: "Enter name", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :description, class: "fw-bold" %>
        <%= form.text_area :description, placeholder: "Enter description", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :amount, class: "fw-bold" %>
        <%= form.text_field :amount, placeholder: "Enter amount", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :mdate, class: "fw-bold" %>
        <%= form.datetime_field :mdate, placeholder: "Enter mdate", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group form-check form-switch">
        <%= form.check_box :is_transfer, class: "form-check-input", id: "flexSwitchCheckDefault", onchange: "$('#transfer').toggle()"%>
        <label class="form-check-label" for="flexSwitchCheckDefault">Is transfer?</label>
      </div>
      <div id="transfer" style="display:<%= @movement.is_transfer ? "":"None"%>">
        <div class="form-group" >
          <%= form.label :account_id, class: "fw-bold" %>
          <%= select("movement", "movement_id",
            @accounts.collect {|p| [ p.name, p.id ] },{:include_blank => 'Choose account', :selected => params[:movement_id] || @movement.movement_id},{:class=>"form-select"})
          %>
        </div>
        <div class="form-group">
          <%= form.label :transferred_amount, class: "fw-bold" %>
          <%= form.text_field :transferred_amount, placeholder: "Enter amount", class: "form-control" %>
        </div>
      </div>
    </li>
  </ul>
  <div class="card-footer">
    <%= link_to "Cancel", movements_path, class: 'btn btn-outline-secondary float-start' %>
    <%= form.submit "Save", class: "btn btn-primary float-end" if movement.persisted? %>
    <%= form.submit "Create", class: "btn btn-primary float-end" if !movement.persisted? %>
  </div>
</div>
<% end %>

<script>
window.onload = function() {
  $("#movement_amount").keyup(function() {
    var value = $(this).val();
    //FIXME: cambiar a -value
    $("#movement_transferred_amount").val(value);
  }).keyup();
};
  
</script>
