<%= form_for(@movement) do |f| %>
  <% if @movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
      <% @movement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %><br />
    <%= select("movement", "account_id", 
        Account.find(:all, :order=>"name ASC").collect {|p| [ p.name, p.id ] }, 
        {:include_blank => 'Choose account'}) %>
  </div>
  <div class="field">
    <%= f.label :mtype_id %><br />
    <%= select("movement", "mtype_id", 
        Mtype.find(:all, :order=>"name ASC").collect {|p| [ p.name, p.id ] }, 
        {:include_blank => 'Choose movement type'}) %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :is_transfer %><br />
    <%= f.check_box :is_transfer %>
  </div>
  <div class="field">
    <%= f.label :movement_id %><br />
    <%= select("movement", "movement_id",
        Account.find(:all, :order=>"name ASC").collect {|p| [ p.name, p.id ] },
        {:include_blank => 'Choose account'}) %>
  </div>

  <div class="field">
    <%= f.label :mdate %><br />
    <%= f.datetime_select :mdate %>
  </div>
  <div class="field">
    <%= f.label :vdate %><br />
    <%= f.date_select :vdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
