<% movements_loss = movements.find_all{|i| i.amount < 0 and !i.is_transfer?} %>
<% movements_profit = movements.find_all{|i| i.amount > 0 and !i.is_transfer?} %>

<% chart_data_loss = [] %>
<% chart_data_profit = [] %>

<% movements_loss.group_by(&:mtype).each do |movement| %>
    <% chart_data_loss += [{:name => movement[0].name, :data => [movement[1].sum(&:amount).to_f] }] %>
<% end %>
<% movements_profit.group_by(&:mtype).each do |movement| %>
    <% chart_data_profit += [{:name => movement[0].name, :data => [movement[1].sum(&:amount).to_f] }] %>
<% end %>


<div class="col-md-10 col-md-offset-1" role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#table" id="table-tab" role="tab" data-toggle="tab" aria-controls="table" aria-expanded="true">Tables</a></li>
    <li role="presentation"><a href="#graphs1" role="tab" id="graphs1-tab" data-toggle="tab" aria-controls="graphs1">Column Graphs</a></li>
    <li role="presentation"><a href="#graphs2" role="tab" id="graphs2-tab" data-toggle="tab" aria-controls="graphs2">Stacked Graphs</a></li>
  </ul>

  <div id="" class="tab-content">

    <div role="tabpanel" class="tab-pane fade in active" id="table" aria-labelledBy="table-tab">
          <%= render :partial => 'movements/loss_profits_table',
              :locals => { :movements => movements_loss, :title => "Loss", :total => movements_loss.sum(&:amount) } %>
          <%= render :partial => 'movements/loss_profits_table',
              :locals => { :movements => movements_profit, :title => "Profit", :total => movements_profit.sum(&:amount)  } %>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="graphs1" aria-labelledBy="graphs-tab">
        <div id="column_loss" class="col-md-4"></div>
        <div id="column_profit" class="col-md-4 col-md-offset-2"></div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="graphs2" aria-labelledBy="graphs-tab">
        <div id="stack_loss" class="col-md-4"></div>
        <div id="stack_profit" class="col-md-4 col-md-offset-2"></div>
    </div>

  </div>
</div>

<script>
  column_graph('column_loss','Loss', <%= chart_data_loss.to_json.html_safe %>);
  column_graph('column_profit','Profit', <%= chart_data_profit.to_json.html_safe %>);
  stack_graph('stack_loss','Loss', <%= chart_data_loss.to_json.html_safe %>);
  stack_graph('stack_profit','Profit', <%= chart_data_profit.to_json.html_safe %>);
</script>
