<% if defined? movements %>
<div class="col-md-8 col-md-offset-2">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Mtype</th>
      <th></th>
      <th>Amount</th>
      <th>Mdate</th>
      <th></th>
      <th></th>
      <th><% if params[:controller] != 'movements' and params[:controller] != 'mtypes' %>Account amount<% end %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% total = 0 %>
    <% movements.each do |movement| %>
      <% total += convert_ma(movement) %>
      <tr title="<%= movement.description %>">
        <td><%= link_to movement.mtype.name, mtype_path(movement.mtype) %></td>
        <td>
          <% if movement.name != "" %>
            <button type="button" class="btn btn-default btn-xs glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="top"
                title="<%= movement.name + ' ' + movement.description %>" />
          <% end %>
        </td>
        <td><span data-toggle="tooltip" data-placement="right" title="<%= print_cma(movement) %>"><%= print_ma(movement) %></span></td>
        <td><%= movement.mdate.to_date %></td>
        <td></td>
        <td></td>
        <td>
            <% if params[:controller] != 'movements' and params[:controller] != 'mtypes' %>
                <%= print_ma(movement,1) %>
            <% end %>
        </td>
        <% status = "" %>
        <% status = "success" if movement.amount > 0 %>
        <% status = "info" if movement.is_transfer %>
        <td><%=draw_button("edit",edit_movement_path(movement),status) %></td>
        <td><%= draw_button("destroy", movement)  %></td>
      </tr>
    <% end %>
    </tbody>
    </thead>
    <tfoot>
      <th>Total</th>
      <th></th>
      <th><%= print_amount(total) %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tfoot>
  </table>

</div>
<% end %>


<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
