<% if defined? movements %>
<table class="table table-hover table-striped align-middle">
  <thead>
    <tr>
      <th></th>
      <th>Mtype</th>
      <th></th>
      <th>Amount</th>
      <th>Mdate</th>
      <th></th>
      <th></th>
      <th><% if params[:controller] != 'movements' and params[:controller] != 'mtypes' %>Account amount<% end %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% total = 0 %>
    <% movements.each do |movement| %>
      <% total += convert_ma(movement) %>
      <%= content_tag :tr, id: dom_id(movement), class: dom_class(movement) do %>
        <td><%= draw_button('graph', movements_types_charts_path(movement.mtype)) %></td>
        <td><%= link_to movement.mtype.name, mtype_path(movement.mtype) %></td>
        <td>
          <% if movement.name != "" || movement.description != ""%>
            <span class="bi-chat-left-fill me-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="<%= movement.name + ' ' + movement.description %>" title="<%= movement.name + ' ' + movement.description %>"></span>
          <% end %>
          <% if movement.is_transfer %>
            <span class="bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="<%= Movement.find(movement.movement_id).account.name %>" title="<%= Movement.find(movement.movement_id).account.name %>"></span>
          <% end %>
        </td>
        <td><%= print_ma(movement) %></td>
        <td><span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="<%= movement.mdate %>"><%= movement.mdate.to_date %></span></td>
        <td></td>
        <td></td>
        <td>
            <% if params[:controller] != 'movements' and params[:controller] != 'mtypes' %>
                <%= print_ma(movement,1) %>
            <% end %>
        </td>
        <% status = "" %>
        <% status = "success" if movement.amount > 0 %>
        <% status = "info" if movement.is_transfer %>
        <td><%=draw_button("edit",edit_movement_path(movement),status) %></td>
        <td><%= draw_button("destroy", movement)  %></td>
      <% end %>
    <% end %>
  </tbody>
  <tfoot  class="table-group-divider">
    <th></th>
    <th>Total</th>
    <th></th>
    <th><%= print_amount(total) %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tfoot>
</table>
<% end %>