<% if defined? movements %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Mtype</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Mdate</th>
      <th></th>
      <th></th>
      <% if params[:controller] != 'movements' %><th>Account amount</th><% end %>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% movements.each do |movement| %>
      <% classes = (movement.amount > 0 ? "positive":"negative") %>
      <% classes += " transfer" if movement.is_transfer %>

      <tr class="<%= classes %>" title="<%= movement.description %>">
        <td><%= movement.mtype.name %></td>
        <td><%= movement.name %></td>
        <td><span class="<%= movement.amount > 0 ? "positive":"negative" %>"><%= movement.amount.to_s  %></span></td>
        <td><%= movement.mdate.to_date %></td>
        <td></td>
        <td></td>
        <%# if params[:controller] != 'movements' %><td><%#= movement.account_amount.to_s + ' ' +  movement.account.currency.symbol %></td><%# end %>
        <td><%=draw_button("edit",edit_movement_path(movement)) %></td>
        <td><span class="destroy"><%= draw_button("destroy", movement)  %></span></td>
      </tr>
    <% end %>
    </tbody>
    </thead>
    <tfoot>
      <th>Total</th>
      <th></th>
      <% total = movements.find_all.sum(&:amount) %>
      <th><span class="<%= total > 0 ? "positive":"negative" %>"><%= total  %></span></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tfoot>
  </table>
<% end %>
