<% if defined? movements %>
<div class="col-md-8 col-md-offset-2">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Mtype</th>
      <th></th>
      <th>Amount</th>
      <th>Mdate</th>
      <th></th>
      <th></th>
      <th><% if params[:controller] != 'movements' %>Account amount<% end %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% movements.each do |movement| %>
      <tr title="<%= movement.description %>">
        <td><%= link_to movement.mtype.name, mtype_path(movement.mtype) %></td>
        <td>
          <% if movement.name != "" %>
            <button type="button" class="btn btn-default btn-xs glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="top" title="<%= movement.name %>" />
          <% end %>
        </td>
        <td><span class="<%= movement.amount > 0 ? "positive":"negative" %>"><%= print_amount(movement.amount,movement.account.currency)  %></span></td>
        <td><%= movement.mdate.to_date %></td>
        <td></td>
        <td></td>
        <td><% if params[:controller] != 'movements' %><%= print_amount(movement.account_amount,movement.account.currency) %><% end %></td>
        <% status = "" %>
        <% status = "success" if movement.amount > 0 %>
        <% status = "info" if movement.is_transfer %>
        <td><%=draw_button("edit",edit_movement_path(movement),status) %></td>
        <td><span class="destroy"><%= draw_button("destroy", movement)  %></span></td>
      </tr>
    <% end %>
    </tbody>
    </thead>
    <tfoot>
      <th>Total</th>
      <th></th>
      <% total = movements.find_all.sum(&:amount) %>
      <th><span class="<%= total > 0 ? "positive":"negative" %>"><%= total  %></span></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tfoot>
  </table>

</div>
<% end %>


<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
