<% if defined? movements %>
  <table>
    <thead>
    <tr>
      <th>Account</th>
      <th>Mtype</th>
      <th>Amount</th>
      <th>Mdate</th>
      <th>Vdate</th>
      <% if params[:action] != 'show_year' %><th>Account amount</th><% end %>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% movements.each do |movement| %>
      <% classes = (movement.amount > 0 ? "positive":"negative") %>
      <% classes += " transfer" if movement.is_transfer %>
      <% classes += " grouped" if movement.movements.size > 0 and !movement.is_transfer %>

      <%= render :partial => 'movements/movement_row',
            :locals => {:classes => classes, :movement => movement, :grouped => false } %>
	  <% unless movement.is_transfer %>
	    <% for groupm in movement.movements %>
	      <%= render :partial => 'movements/movement_row',
	              :locals => {:classes => classes, :movement => groupm, :grouped => true } %>
	    <% end %>
	  <% end %>

    <% end %>
    </tbody>
    </thead>
    <tfoot>
      <th>Total</th>
      <th></th>
      <%  total = get_total_amount(movements) %>
      <% #FIXME: FALLARA CUANDO HAYA MULTI-currency!! %>
      <th class="amount"><%= show_total_amount(total) %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tfoot>
  </table>
<% end %>

<script>
  $("span#amount_day").html(<%= (total/@days).round(2) %>);
  $("span#amount_total").html(<%= (total).round(2) %>);
</script>
