<% if defined? movements %>
  <table>
    <thead>
    <tr>
      <th>Account</th>
      <th>Mtype</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Mdate</th>
      <th>Vdate</th>
      <th></th>
      <th></th>
      <% if params[:controller] != 'movements' %><th>Account amount</th><% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% movements.each do |movement| %>
      <tr class="<%= movement.amount > 0 ? "positive":"negative" %> " title="<%= movement.description %>">
        <td><%= movement.account.name %></td>
        <td><%= movement.mtype.name %></td>
        <td><%= movement.name %></td>
        <td><span class="<%= movement.amount > 0 ? "positive":"negative" %>"><%= movement.amount.to_s + ' ' + movement.account.currency.symbol %></span></td>
        <td><%= movement.mdate %></td>
        <td><%= movement.vdate %></td>
        <td></td>
        <td></td>
        <% if params[:controller] != 'movements' %><td><%= movement.account_amount.to_s + ' ' +  movement.account.currency.symbol %></td><% end %>
        <td><%= link_to 'Show', movement %></td>
        <td><%= link_to 'Edit', edit_movement_path(movement) %></td>
        <td><%= link_to 'Destroy', movement, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
    </tbody>
    </thead>
    <tfoot>
      <th>Total</th>
      <th></th>
      <th></th>
      <% total = movements.find_all.sum(&:amount) %>
      <th><span class="<%= total > 0 ? "positive":"negative" %>"><%= total  %></span></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tfoot>
  </table>
<% end %>
