<% if notice.present? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="d-flex justify-content-between align-items-baseline">
  <h1>Movements</h1>
  <%= link_to "New movement", new_movement_path, class: 'btn btn-primary' %>
</div>

<%= render partial: 'movements/date_select', locals: { path: "/movements", form: @movements[0]} %>

<% if @movements.length != 0 %>
  <%= render partial: 'mtable', locals: {movements: @movements } %>

  <%# FIXME: modificar%>
  <%= render :partial => 'loss_profits', :locals => { :movements => @movements } %>

<% else %>
  Create movements going to <%= link_to "Accounts",accounts_path %>
<% end %>
