<h1>Listing movements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Mtype</th>
      <th>Account</th>
      <th>Mdate</th>
      <th>Account amount</th>
      <th>Is transfer</th>
      <th>Movement</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td><%= movement.name %></td>
        <td><%= movement.description %></td>
        <td><%= movement.amount %></td>
        <td><%= movement.mtype_id %></td>
        <td><%= movement.account_id %></td>
        <td><%= movement.mdate %></td>
        <td><%= movement.account_amount %></td>
        <td><%= movement.is_transfer %></td>
        <td><%= movement.movement_id %></td>
        <td><%= link_to 'Show', movement %></td>
        <td><%= link_to 'Edit', edit_movement_path(movement) %></td>
        <td><%= link_to 'Destroy', movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movement', new_movement_path %>
