<h1>Show Movement</h1>

<% if notice.present? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="card p-4">
  <ul class="list-group mb-2">
    
      <li class="list-group-item">
        <strong>Account:</strong>
        <%= @movement.account.name %>
      </li>

      <li class="list-group-item">
        <strong>Mtype:</strong>
        <%= @movement.mtype.name %>
      </li>

      <li class="list-group-item">
        <strong>Name:</strong>
        <%= @movement.name %>
      </li>
    
      <li class="list-group-item">
        <strong>Description:</strong>
        <%= @movement.description %>
      </li>
    
      <li class="list-group-item">
        <strong>Amount:</strong>
        <%= @movement.amount %>
      </li>
    
      <li class="list-group-item">
        <strong>Mdate:</strong>
        <%= @movement.mdate %>
      </li>
    
      <li class="list-group-item">
        <strong>Account amount:</strong>
        <%= @movement.account_amount %>
      </li>
    
      <li class="list-group-item">
        <strong>Is transfer:</strong>
        <%= @movement.is_transfer %>
      </li>
    
      <li class="list-group-item">
        <strong>Movement:</strong>
        <%= @movement.movement_id %>
      </li>
    
  </ul>
  <div>
    <%= link_to 'Back', movements_path, class: 'btn btn-outline-primary mr-2' %>
    <%= link_to 'Edit', edit_movement_path(@movement), class: 'btn btn-outline-primary' %>
  </div>
</div>
