<h1>Listing currencies</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Symbol</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @currencies.each do |currency| %>
    <tr>
      <td><%= currency.name %></td>
      <td><%= currency.symbol %></td>
      <td><%= link_to 'Show', currency %></td>
      <td><%= link_to 'Edit', edit_currency_path(currency) %></td>
      <td><%= link_to 'Destroy', currency, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Currency', new_currency_path %>
