<h1>Listing currencies</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Symbol</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @currencies.each do |currency| %>
    <tr>
      <td><%= currency.name %></td>
      <td><%= currency.symbol %></td>
      <td><%= draw_button('edit',"E", edit_currency_path(currency),"Edit currency") %></td>
      <td><span class="destroy"><%= link_to 'X', currency, confirm: 'Are you sure?', method: :delete %></span></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Currency', new_currency_path %>
