<% if mtype.errors.any? %>
  <% mtype.errors.full_messages.each do |message| %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% end %>
<% end %>
<%= form_with(model: mtype, local: true) do |form| -%>
<div class="card">
  <h5 class="card-header">Mtype</h5>
  <ul class="list-group list-group-flush pb-3 mt-3">
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :name, class: "fw-bold" %>
        <%= form.text_field :name, placeholder: "Enter name", class: "form-control" %>
      </div>
    </li>
  </ul>
  <div class="card-footer">
    <%= link_to "Cancel", mtypes_path, class: 'btn btn-outline-secondary float-start' %>
    <%= form.submit "Save", class: "btn btn-primary float-end" if mtype.persisted? %>
    <%= form.submit "Create", class: "btn btn-primary float-end" if !mtype.persisted? %>
  </div>
</div>
<% end %>