<h1>Listing mtypes</h1>

<%= link_to 'New Mtype', new_mtype_path %>
<br /><br />
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @mtypes.each do |mtype| %>
    <tr>
      <td><%= link_to mtype.name, mtype %></td>
      <td><%= draw_button('show', 'S', mtype, "Show movement type") %></td>
      <td><%= draw_button('edit', 'E', edit_mtype_path(mtype),"Edit movement type") %></td>
      <td><span class="destroy"><%= link_to 'X', mtype, confirm: 'Are you sure?', method: :delete %></span></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

