<h1>Annual earns</h1>

<% if @movements.count == 0 %>
No movements
<% else %>

<div id="graph" class="py-3"></div>


<table class="table table-striped align-middle text-center">
  <thead>
      <tr>
        <th>Year</th>
        <th>Profit</th>
        <th>Loss</th>
        <th class="d-none d-md-table-cell">Percent</th>
        <th>Total</th>
      </tr>
  </thead>
  <tbody class="table-group-divider">
    <% (@first.year..@last).each do |year| %>
      <tr>
        <td><%= year %></td>
        <td><%= print_amount(@annual_profit[year]) %></td>
        <td><%= print_amount(@annual_loss[year]) %></td>
        <td class="d-none d-md-table-cell"><%= (100-(@annual_loss[year]*100/@annual_profit[year]).round(2)).to_s+"%" unless
                    @annual_profit[year].nil? or @annual_loss[year].nil? %></td>
        <td><%= print_amount(@annual_profit[year]- @annual_loss[year]) unless
                    @annual_profit[year].nil? or @annual_loss[year].nil? %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot class="table-group-divider">
    <tr>
      <td>Total</td>
      <td><%= print_amount(@annual_profit[0])%></td>
      <td><%= print_amount(@annual_loss[0]) %></td>
      <td class="d-none d-md-table-cell"><%= (100+(@annual_loss[0]*100/@annual_profit[0]).round(2)).to_s+"%" %></td>
      <td>~<%= print_amount(@annual_profit[0] + @annual_loss[0]) %></td>
    </tr>
  </tfoot>
</table>

<script  type="module">
  import {column_graph} from "application";
  column_graph('graph','Annual earn per year', <%= @chart_data.to_json.html_safe %>);
</script>

<% end %>
