<h1>Annual status</h1>

<% if @movements.count == 0 %>
No movements
<% else %>

<div class="row">
  <div class="col-10 overflow-auto">
    <table class="table table-striped align-middle text-center">
      <tfoot>
          <tr>
            <th></th>
            <% @annual_status.each do |as| %>
              <th><%= link_to as[0].name, account_path(as[0]) %></th>
            <% end %>
          </tr>
      </tfoot>
      <tbody class="table-group-divider">
        <% (@first.year..@last).each do |year| %>
          <tr>
            <td><%= year %></td>
            <% @annual_status.each do |as| %>
              <td><%= print_amount(as[1][year]) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-2">
    <table class="table table-striped align-middle text-center">
      <tbody class="table-group-divider">
        <% (@first.year..@last).each do |year| %>
          <tr>
            <td><%= print_amount(@total[year]) %></td>
            <td class="d-none d-md-table-cell"><%= @total[year-1].nil? ?
                  print_amount(@total[year]) :
                  print_amount(@total[year]-@total[year-1]) %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>Total</th>
          <th class="d-none d-md-table-cell">Diff</th>
        </tr>
      </tfoot>
    </table>
  </div>

</div>

<% end %>
