<!DOCTYPE html>
<html>
<head>
  <title>Pfm</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="menu_izquierdo">
<%= link_to 'Currencies', currencies_path %>
<%= link_to 'Accounts', accounts_path %>
<%= link_to 'Moves Types', mtypes_path %>
</div>

<div id="centro">
<%= yield %>
</div>

</body>
</html>
