<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :currency_id %><br />
    <%= select("account", "currency_id", 
        Currency.find(:all, :order=>"name ASC").collect {|p| [ p.name, p.id ] }, 
        {:include_blank => 'Choose currency'}) %> 
    <%#= f.number_field :currency_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :value_init %><br />
    <%= f.text_field :value_init %>
  </div>
  <div class="field">
    <%= f.label :value_last %><br />
    <%= f.text_field :value_last %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
