<table class="table table-hover table-striped align-middle">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% total = 0 %>
    <% accounts.each do |account| %>
      <% total += account.amount %>
      <%= content_tag :tr, id: dom_id(account), class: dom_class(account) do %>
          <td><%= link_to account.name,account_path(account) %></td>
          <td>
            <span class="btn btn-default btn-sm bi-chat-left-fill" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="<%= account.description %>" title="<%= account.description %>" />
          </td>
          <td><%= print_amount(get_amount(account,account.amount)) %> <%= account.currency %></td>
          <td>
            <%= draw_button('show', account) %>
            <%= draw_button('create', new_movement_path(:account_id => account)) unless account.is_disabled %>
            <%= draw_button('edit', edit_account_path(account)) %>
            <%= draw_button('destroy', account) %>
        </td>
      <% end %>
    <% end %>
  </tbody>
  <% if total > 0 %>
    <tfoot>
      <tr>
        <td>Total</td>
        <td></td>
        <td><%= print_amount(total) %></td>
        <td></td>
      </tr>
    </tfoot>
  <% end %>
</table>
