<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% total = 0 %>
    <% accounts.each do |account| %>
      <% total += account.amount %>
      <tr>
        <td><%= account.name %></td>
        <td>
          <button type="button" class="btn btn-default btn-xs glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="right" title="<%= account.description %>" />
        </td>
        <td><span data-toggle="tooltip" data-placement="right" title="<%#= print_cma(account) %>"><%= account.amount %> <%= account.currency %></span></td>
        <td><%= draw_button('show', account) %>
            <%= draw_button('create', new_movement_path(:account_id => account)) unless account.is_disabled %>
            <%= draw_button('edit', edit_account_path(account)) %>
            <%= draw_button('destroy', account) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <% if total > 0 %>
    <tfoot>
      <tr>
        <td>Total</td>
        <td></td>
        <td><%= print_amount(total) %></td>
        <td></td>
      </tr>
    </tfoot>
  <% end %>

</table>
