<h1>Listing accounts</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Currency</th>
    <th>Description</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>


<% @accounts.each do |account| %>
  <tr>
    <td><%= account.name %></td>
    <td><%= account.currency.name %> </td>
    <td><%= account.description %></td>
    <td><%= account.amount %><%= account.currency.symbol %></td>
    <td><%= draw_button("show","S",account,"Show account") %></td>
    <td><%= draw_button("edit","E",edit_account_path(account),"Edit account") %></td>
    <td><span class="destroy"><%= link_to 'X', account, confirm: 'Are you sure?', method: :delete %></span></td>
    <td><%= draw_button("create","C",new_movement_path(:account_id => account),"Create movement") %></td>
  </tr>
<% end %>

  <tfoot>
  <tr>
    <th>Total</th>
    <th></th>
    <th></th>
    <th><%= get_accounts_total() %> </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </tfoot>

</table>

<br />

<%= link_to 'New Account', new_account_path %>
