<h1>Listing accounts</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Currency</th>
    <th>Description</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>


<% @accounts.each do |account| %>
  <tr>
    <td><%= account.name %></td>
    <td><%= account.currency.name %> </td>
    <td><%= account.description %></td>
    <td><%= account.amount %><%= account.currency.symbol %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Create movement', new_movement_path(:account_id => account) %></td>
  </tr>
<% end %>

  <tfoot>
  <tr>
    <th>Total</th>
    <th></th>
    <th></th>
    <th><%= get_accounts_total() %> </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </tfoot>

</table>

<br />

<%= link_to 'New Account', new_account_path %>
