<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Currency</th>
    <th>Description</th>
    <th>Value init</th>
    <th>Value last</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.name %></td>
    <td><%= account.currency_id %></td>
    <td><%= account.description %></td>
    <td><%= account.value_init %></td>
    <td><%= account.value_last %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
