<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Currency:</b>
  <%= @account.currency_id %>
</p>

<p>
  <b>Description:</b>
  <%= @account.description %>
</p>

<p>
  <b>Value init:</b>
  <%= @account.value_init %>
</p>

<p>
  <b>Value last:</b>
  <%= @account.value_last %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
