<p id="notice"><%= notice %></p>

<h1><%= @account.name %></h1>

<div id="container0"></div>
<br /> 
<div id="container2"></div>
<br /> 
<%= render :partial => 'movements/mtable', :locals => {:movements => @account.movements} %>


<script type="text/javascript">
  var chart;
  jQuery(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'container0',
        defaultSeriesType: 'column'
      },
      title: {
        text: 'Monthly Average '
      },
      xAxis: {
        categories: [
          'Jan', 
          'Feb', 
          'Mar', 
          'Apr', 
          'May', 
          'Jun', 
          'Jul', 
          'Aug', 
          'Sep', 
          'Oct', 
          'Nov', 
          'Dec'
        ]
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Amount'
        }
      },
      tooltip: {
        formatter: function() {
          return ''+
            this.x +': <b>' + this.series.name + '</b>' + this.y + ' €';
        }
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        }
      },
            series: <%= @chart_data[:profits].to_json.html_safe %> 
    });
  });
</script>

<script>
  var chart;
  jQuery(document).ready(function() {
    
    var colors = Highcharts.getOptions().colors,
      categories = [
          'Jan', 
          'Feb', 
          'Mar', 
          'Apr', 
          'May', 
          'Jun', 
          'Jul', 
          'Aug', 
          'Sep', 
          'Oct', 
          'Nov', 
          'Dec' 
      ],
      name = 'Total amount per month',
      data = [<%= @chart_data2[:profits].html_safe %> ];

    function setChart(name, categories, data, color) {
      chart.xAxis[0].setCategories(categories);
      chart.series[0].remove();
      chart.addSeries({
        name: name,
        data: data,
        color: color
      });
    }
    
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'container2', 
        type: 'column'
      },
      title: {
        text: 'Total amount per month'
      },
      subtitle: {
        text: 'Click the columns to view movement types. Click again to view months.'
      },
      xAxis: {
        categories: categories                            
      },
      yAxis: {
        title: {
          text: 'Total amount'
        }
      },
      plotOptions: {
        column: {
          cursor: 'pointer',
          point: {
            events: {
              click: function() {
                var drilldown = this.drilldown;
                if (drilldown) { // drill down
                  setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
                } else { // restore
                  setChart(name, categories, data);
                }
              }
            }
          },
          dataLabels: {
            enabled: true,
            style: {
              fontWeight: 'bold'
            },
            formatter: function() {
              return this.y;
            }
          }                   
        }
      },
      tooltip: {
        formatter: function() {
          var point = this.point,
            s = this.x +':<b>'+ this.y +'</b><br/>';
          if (point.drilldown) {
            s += 'Click to view '+ point.category;
          } else {
            s += 'Click to return ';
          }
          return s;
        }
      },
      series: [{
        name: name,
        data: data,
        color: 'white'
      }],
      exporting: {
        enabled: false
      }
    });
    
    
  });
</script>
