<p id="notice"><%= notice %></p>

<h1><%= @account.name %></h1>

<%= date_select("article", "written_on", :end_year => Time.now.year,
                                  :discard_day => true, :default => @selected_month) %>

<p>
  <b>Currency:</b>
  <%= @account.currency.symbol %>
</p>


<p>
  <b>Description:</b>
  <%= @account.description %>
</p>

<%= render 'movements/mtable' %>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
