<p id="notice"><%= notice %></p>

<h1><%= @account.name %></h1>

<%= form_for @account, :url => account_path(@account), :method => :get do |f| %>
From: <%= date_select("get_movements", "from",
                {:end_year => Time.now.year, :discard_day => true, :default => @from_month,
                    #FIXME: put the prompt ok
                    #:prompt => { :month => 'Select month', :year => 'Select year'}
                },
                {:onchange => "this.form.submit();" }) %>
To: <%= date_select("get_movements", "to",
                {:end_year => Time.now.year, :discard_day => true, :default => @to_month,
                    #FIXME: put the prompt ok
                    #:prompt => { :month => 'Select month', :year => 'Select year'}
                },
                {:onchange => "this.form.submit();" }) %>
<% end %>
<p>
  <b><%= link_to "create movement", new_movement_path(:account_id => @account) %></b>
</p>

<p>
  <b>Currency:</b>
  <%= @account.currency.symbol %>
</p>

<p>
  <b>Description:</b>
  <%= @account.description %>
</p>

<%= render :partial => 'movements/mtable', :locals => {:movements => @movements} %>

<% movements_loss = @movements.find_all{|i| i.amount < 0 and !i.is_transfer?} %>
<% movements_profit = @movements.find_all{|i| i.amount > 0 and !i.is_transfer?} %>

<div class="span-10">
<%= render :partial => 'movements/graphs',
    :locals => { :movements => movements_loss, :title => "Loss"  } %>
</div>
<div class="span-10 last">
<%= render :partial => 'movements/graphs',
    :locals => { :movements => movements_profit, :title => "Profit"  } %>
</div>
<br />

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
