<h1><%= @account.name %></h1>

<blockquote>
  <p>
    <b>Amount:</b> <%= print_ma(@account) %> <br />
    <b>Description:</b> <%= @account.description %>
  </p>
</blockquote>

<p>
  <b><%#= FIXME link_to "Show entire year", show_year_account_path(@account) %></b>
</p>



<%= render :partial => 'movements/date_select', :locals => { :form => @account, :path => account_path(@account) } %>
<br><br>

<%= render :partial => 'movements/mtable', :locals => {:movements => @movements} %>

<%= render :partial => 'movements/loss_profits', :locals => { :movements => @movements } %>

