<h1><%= @account.name %></h1>

<%= form_for @account, :url => account_path(@account), :method => :post do |f| %>
  <%= get_from_date_select(false) %>
  <%= get_to_date_select(false) %>
<% end %>
<p>
  <b><%= link_to "create movement", new_movement_path(:account_id => @account) %></b>
</p>
<p>
    <b><%= link_to "Show graphs", show_year_account_path(@account) %></b>
</p>

<h2>Amount: <%= @account.amount %><%= @account.currency.symbol %></h2>
<p>
  <b>Description:</b>
  <%= @account.description %>
</p>

<%= render :partial => 'movements/mtable', :locals => {:movements => @movements} unless @movements.empty?  %>

<%= render :partial => 'movements/loss_profits', :locals => { :movements => @movements } unless @movements.empty? %>

